* {
    padding: 0px;
    margin: 0px;
    font-size: 14px;

    cursor: default;
    border: none;
    outline: none;
    color: #222222;
    box-sizing: border-box;
}

body, html {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

body, body > * {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

body {
  background: white;
  max-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

html {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

textarea {
    resize: none;
}

script {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type="file"] {
    display: none;
}
