/* RIBBON BODY */
.__application-ribbon-body {
    height: 90px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #D5D5D5;
    font-family: sans-serif;
    padding: 2px;
    font-size: 12px;
}

.__application-ribbon-section {
    padding: 0px 2px;
    border-right: 1px solid #E1E1E1;
    display: flex;
    flex-direction: column;
}

.__application-ribbon-section-content {
    flex-grow: 1;
}

.__application-ribbon-section-name {
    font-size: 11px;
    color: #444444;
    text-align: center;
    min-width: 80px;
}

/* RIBBON BUTTONS*/
.__application-ribbon-action-vertical-large {
    flex-direction: column;
    padding: 4px;
    margin: 4px;
    display: flex;
    background: white;
    cursor: pointer;
    border-radius: 2px;
}

.__application-ribbon-action-vertical-large:hover {
    box-shadow: 0px 0px 10px #ccc;
    cursor: pointer;
}

.__application-ribbon-action-vertical-large .icon-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 12px;
    display: flex;
    cursor: pointer;
}

.__application-ribbon-action-vertical-large .icon-wrapper img.icon {
    height: 32px;
    width: 32px;
    margin: 4px;
    cursor: pointer;
}

.__application-ribbon-action-vertical-large p {
    text-align: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.__application-ribbon-action-vertical-large .dropdown {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.__application-ribbon-action-vertical-large .dropdown .icon {
    height: 5px;
    width: 5px;
    background: salmon;
    cursor: pointer;
}
